@import 'fontawesome-config.scss';
@import 'bulma.config';

html,
body,
#root,
.main-container,
.main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
button {
	cursor: pointer;
}
.message-container {
	position: absolute;
	z-index: 25;
}
.is-off-screen {
	position: absolute;
	z-index: -9999 !important;
}
.map-info {
	position: fixed;
	bottom: 0;
	min-width: 50%;
	width: 100%;
}
.details-controls {
}
.navbar {
	z-index: 9999;
}
.navbar-menu.is-active {
	position: absolute;
	width: 100%;
}
.navbar-brand-title {
	line-height: 1;
	margin: 0;
	padding: 0;

}
.is-not-acquired {
	opacity: 0.5;
	filter: saturate(0);
}
.navbar-item .button { justify-content: left; }
.leaflet-marker-icon {
	&.leaflet-marker-icon-AVAILABLE {
		filter: hue-rotate(240deg) contrast(2);
	}
	&.leaflet-marker-icon-UNAVAILABLE {
		filter: hue-rotate(150deg) saturate(1) contrast(3);
	}
	&.leaflet-marker-icon-COMPLETE {
		filter: saturate(0);
	}
	&.leaflet-marker-icon-HIGHLIGHT {
		filter: hue-rotate(210deg) saturate(9) contrast(1) brightness(1.3);
	}
	//&.leaflet-marker-icon-highlight {
	//	filter: contrast(3);
	//}
}
.modal {
	z-index: 2000;
}
.item-icon {
	display: flex;
	align-items: center;
	+ * {
		margin: 0 0 0 10px;
	}
	img {
		margin: 0 10px 0 0;
		width: 32px;
	}
}
.item-icon-name {
	margin: 0 10px;
}
.item-icon-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 32px 95px);
	align-items: center;
	grid-gap: 20px 0;
}
.map-container {
	//min-width: 565px;
	position: absolute;
}
.map-body {
	height: calc(100% - 70px);
	overflow: hidden;
}
.size-controls {
	display: flex;
	margin: 0 0 0 10px;
	padding: 0;
	font-weight: 300;
	> div {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 0 0 0 25px;
	}
	label {
		margin: 0 5px 0 0;
	}
}
.map {
	width: 100%;
	height: 100%
}
.react-resizable-handle {
	background: none !important;
	@extend .fas;
	@extend .fa-expand-arrows-alt;
	&::before {
		color: $light;
		position: absolute;
		bottom: 5px;
		right: 7px;
		font-size: 20px;
	}
}