@import 'fontawesome-config.scss';
@import 'bulma.config';
@import 'ItemList';
@import 'Layout';
@import 'LocationDetail';
@import 'marker-cluster';

html, body {
	background: $grey-light;
}
#root {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	overflow: hidden;
}
.main-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.layout-container {
	border-top: 7px solid #000;
	position: relative;
	flex-grow: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.flexlayout__tab[style*='z-index'] {
	// Bug fix for when map panel is maximized. It still shows both maps.
	z-index: 401 !important;
}
button {
	cursor: pointer;
}
.message-container {
	position: absolute;
	z-index: 25;
}
.is-off-screen {
	position: absolute;
	z-index: -9999 !important;
}

.navbar-menu.is-active {
	position: absolute;
	width: 100%;
}
.navbar-brand-title {
	line-height: 1;
	margin: 0;
	padding: 0;

}
.is-not-acquired {
	opacity: 0.50;
	filter: saturate(0);
}
.navbar-item .button { justify-content: left; }
.awesome-marker i {
	margin: -11px 0 0;
}
.modal {
	z-index: 2000;
}
.item-icon {
	display: flex;
	align-items: center;
	+ * {
		margin: 0 0 0 10px;
	}
	img {
		margin: 0 10px 0 0;
		width: 32px;
	}
}
.details-notes .item-icon {
	display: inline-flex;
	img {
		margin: 0 5px;
		width: 16px;
	}
}
.item-icon-name {
	margin: 0 10px;
}
.item-icon-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 32px 95px);
	align-items: center;
	grid-gap: 20px 0;
}
.map-container {
	width: 100%;
	height: 100%;
}
.map-body {
	height: calc(100% - 70px);
	overflow: hidden;
}
.size-controls {
	display: flex;
	margin: 0 0 0 10px;
	padding: 0;
	font-weight: 300;
	> div {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 0 0 0 25px;
	}
	label {
		margin: 0 5px 0 0;
	}
}
.map {
	height: 100%
}

.edit-item-list-modal {
	width: 90vw;
	height: 85vh;
}
.leaflet-container {
	$stripe1: rgba(235,235,235,0.65);
	$stripe2: rgba(220,220,220,0.65);
	background-image: linear-gradient(45deg, $stripe1 25%, $stripe2 25%, $stripe2 50%, $stripe1 50%, $stripe1 75%, $stripe2 75%, $stripe2 100%);
	background-size: 56.57px 56.57px;
}
.splitter-size {
	display: flex;
	align-items: center;
	p {
		margin: 0 0 0 10px;
	}
}
.map-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px 0 0;
}
.map-toolbar {
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row-reverse;
	box-shadow: 0 10px 40px rgba(0,0,0,1);
	button {
		margin: 5px 10px;
	}
}