.item-list-container {
	//display: flex;
	//flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fit, 48px);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	img {
		width: 100%;
	}
}
.item-container {
	width: 48px;
	position: relative;
}
.item.is-item-group {
	position: absolute;
}