.details-container {
	display: flex;
	flex-wrap: wrap;
	> * + * {
		border-left: 1px solid #ccc;
	}
	.item {
		width: 48px;
		&.is-read-only {
			cursor: default;
		}
		cursor: pointer;
	}
	.details-area-title {
		border-bottom: 1px dotted #7a7a7a;
		margin: 0 0 10px;
	}
}
.details-section {
	padding: 7.5px;
}
.details-controls {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.tags-container {
	display: flex;
	flex-direction: column;
}